@font-face{
  font-family: "Press Start 2P";
  src: url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);
 }

body {
  background-color: rgba(100, 102, 100, 0.867);
  color: white;
  height: 97vh;
  padding: 0 0 0 0;
  line-height: 75px;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Press Start 2P', sans-serif;
}

.instructions {
  display: inline-block;
  max-width: 400px;
  min-width: 300px;
  line-height: 1.5em;
  font-size: 14px;
  position: absolute;
  padding-left: 50px;
  top: 30px;
  left: 1000px;
}

strong {
  color: black;
}

.title {
  font-size: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-board {
  background-image: url("../images/battle_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.board {
  position: absolute;
  top: 35px;
  left: 93px;
}

.intro-menu, .game-over {
  z-index: 10;
  background: rgba(0, 0, 0, .50);
  height: 480px;
  width: 840px;
  font-size: 24px;
  max-height: 480px;
  max-width: 840px;
  text-align: center;
  margin: auto;
}

.game-over {
  background-color: black;
}

.menu-text {
  font-size: 40px;
  margin: auto;
}

.menu-text, .menu-subtext {
  display: inline-block;
  margin-top: 15%;
  opacity: 100%;
  width: 100%;
}

.close-menu {
  display: none;
}

#board-background {
  position: relative;
  display: inline-block;
  padding-left: 100px;
  height: 740px;
  width: 925px;
  background-image: url("../images/mac-screen.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact {
  color: black;
  font-size: 40px;
  position: absolute;
  top: 540px;
  margin: auto;
}

a:visited{
  color: black;
}

a:hover{
  color: white;
}

.contact a {
  margin-left: 160px;
}