
body {
  background-color: rgba(100, 102, 100, 0.867);
  color: white;
  height: 97vh;
  line-height: 75px;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Press Start 2P', sans-serif;
}

canvas {
  font-family: inherit;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-board {
  background-image: url("../images/battle_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.board {
  position: absolute;
  /* top: 36px;
  left: 180px; */
  top: 36px;
  left: 44px;
}

.intro-menu, .game-over {
  z-index: 10;
  background: rgba(0, 0, 0, .50);
  height: 480px;
  width: 840px;
  font-size: 24px;
  max-height: 480px;
  max-width: 840px;
  text-align: center;
  margin: auto;
}

.game-over {
  background-color: black;
}

.menu-text {
  font-size: 40px;
  margin: auto;
}

.menu-text, .menu-subtext {
  display: inline-block;
  margin-top: 15%;
  opacity: 100%;
  width: 100%;
}

.close-menu {
  display: none;
}

#board-background {
  position: relative;
  margin: auto;
  height: 745px;
  width: 925px;
  background-image: url("../images/mac-screen.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* this is my workaround for local images being webpacked` */
/* #img-loader {
  background-image: url("../images/Chrome.png");
  background-image: url("../images/Firefox.png");
} */